/* Kukutz */

label {cursor:pointer; cursor:hand;}

dfn { font-variant: small-caps; letter-spacing: 0.1em; font-style: normal; cursor: help; border-bottom: 1px dotted #000; }
* html dfn { \background: url(javascript:DOTS) repeat-x bottom left; }

/* Ссылки */

a:link { color: #0000CD}
a:visited { color: #0068CC }
span.missingpage {background-color: #FFFACD;}

/* Основы всех основ */

body {color: black; background: white; font: 10pt Trebuchet MS }
body, h1, h2, h3, h4, h5, h6 {padding: 0; margin: 0}
p, td, li, select, textarea, legend { font: 10pt Trebuchet MS }
td {vertical-align: top }

/* Заголовок страницы */
div.header {background-color: #FFEFD5; padding: 10px; font-size: 90%}
div.header div.title {font-size: 140%; padding-top: 10px}
div.header div.user {float: right; text-align: right}
div.bookmarks {padding: 5px 10px; font-size: 90%; border-bottom: 1px solid #ccc; background-color: #FFE4B5}
span.small {font-size: 80%}

/* Подвал страницы */

div.filesheader, div.commentsheader, div.footer {padding: 5px 10px; background-color: #FFEFD5; border-top: 1px solid #ccc; font-size: 90%}
div.searchbar { float: right; padding: 10px; border: 1px solid #ccc; background-color: #FFE4B5;}
div.copyright {clear: right; padding: 10px; color: #AAAAAA; font-size: 11px; text-align: right}
.commentform form { width: 100% }
.commentform form textarea { width: 100%; padding: 0}
.commentinfo, .copyright a { color: #AAAAAA }

/* Заголовки в тексте */

h1 { padding-top: 2px; padding-bottom: 7px; font: 18pt Trebuchet MS }
h2 { padding-top: 20px; padding-bottom: 5px; font: italic normal 16pt Trebuchet MS }
h3 { padding-top: 15px; padding-bottom: 5px; font: 14pt Trebuchet MS }
h4 { padding-top: 15px; padding-bottom: 5px; font: italic bold 10pt Trebuchet MS }

/* Формы */
form { margin: 0px; padding: 0px }
fieldset { padding: 10px; border: 1px solid black }
legend {font-weight: normal; padding: 0 5px;}
.textarea { width: 100%; height: 400px }

/* Основное поле страницы */
div.pagebefore { display: none}
div.page {padding: 10px 10px;}

/* Списки */
ul, ol { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px }

/* Форматтеры */
.code { border: solid #888888 2px; width: 80%; padding: 3px; background: #FFFFFF; color: black; font: 10pt Lucida Console }

.email1 {color:#800000}
.email2 {color:#808000}
.email-odd {color:#800000}
.email-even {color:#808000}

td.micq1 {padding: 2px; font-weight: bold;}
td.micq2 {padding: 2px; font: 10px Trebuchet MS, Tahoma, Arial;}
td.micq3 {padding: 2px; width: 100%; }

/* Tale of Contents */

div.toc1 { margin-left: 0px; padding-left: 0px; list-style-type: none; font-weight: bold }
div.toc2 { margin-left: 0px; padding-left: 15px; list-style-type: none }
div.toc3 { margin-left: 0px; padding-left: 30px; list-style-type: none }
div.toc4 { margin-left: 0px; padding-left: 45px; list-style-type: none }
div.toc5 { margin-left: 0px; padding-left: 60px; list-style-type: none }
div.toc6 { margin-left: 0px; padding-left: 75px; list-style-type: none }


blockquote { border-left: #999 3px solid; padding: 5px }
blockquote p { padding: 0px; margin: 5px 0px }


cite { color: #888800; font-style: normal }





p.auto { margin: 0px; padding: 0px; font-size: 100% }
strike a:visited, s a:visited, strike, s, strike a:visited, s a:link { color: #999999 }
strike img, s img { filter: Gray }
table.dtable { width: 100%; border: 0px none; border-collapse: collapse }
table.dtable tr td { border-width: 0px; border-color: #999999; border-style: none; padding: 4px; vertical-align: top }
table.upload td { padding: 2px 5px 2px 5px; vertical-align: bottom }
table.upload td.desc- { width: 100%; color: #444444; font-size: 80% }
table.upload td.dt- .dt2-,
table.upload td.remove- .remove2-,
table.upload td.size- .size2- { color: #666666; font: 11px Tahoma }
table.upload td.dt-,
table.upload td.file- { white-space: nowrap; color: #000000; font-size: 80%; font-weight: bold }
table.upload td.dt-, table.upload td.remove- { padding-right: 0 }
table.upload td.remove- a.remove2-:hover,
table.upload td.remove- a.remove2-:active { color: #ff0000 }
table.upload td.size- { padding-right: 0; text-align: right }
table.usertable { border: 1px none; border-collapse: collapse }
table.usertable tr td { border-width: 1px; border-color: black; border-style: solid; padding: 4px; vertical-align: top }



.add { color: #c00; font-weight: bold; text-decoration: underline }
.additions { color: #008800 }
.center{ text-align: center }


.codeold { border: solid #888888 2px; width: 100%; padding: 3px; background: #FFFFFF; color: black; font: 10pt Lucida Console; height: 400px; overflow: scroll }

.del { color: #c00; font-style: italic; text-decoration: line-through }
.deletions { color: #880000 }
.error { color: #CC3333; font-weight: bold }
.files, .comment { padding: 10px; border-left: 1px inset; border-right: 1px inset; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #EEEEEE; background: #EEEEEE }
.filesform, .commentform { padding: 10px; border-left: 1px inset; border-right: 1px inset; border-top: 1px solid #CCCCCC; background: #EEEEEE }
.include { padding: 8px; background: #F5F5F5 }
.indent { margin-left: 40px }
.logbtn { font: 10px Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; height: 21px }
.main { font-size: 22px }


.name { font-size: 11px; text-align: right }
.notes { color: #888800 }
.outerlink { color: #990000 }



.pageedit { border: 1px inset; border-bottom: none; background: #FFFFFF }
.pleft .p- { float: left; padding: 0 15px 0 0 }
.pleft, .pleft .pbody- { padding: 0 }
.pmark { color: #cccccc; font: 10px Arial }
.pmark a:link,
.pmark a:visited { color: #cccccc }
.pmark a:hover,
.pmark a:active { color: #cc3300 }
.pright { }
.pright .p- { float: right; padding: 0 0 0 15px }
.pright .pbody- { }
.print { font: 12px Trebuchet MS }
.revisioninfo { padding-bottom: 20px; color: #AAAAAA }

 .preview {margin:2px;border:red 2px solid;}
 .preview legend {color:red;font-weight:bold;}

.buttonsspacer{width:10px;height:1px;}

.time{ color: #cccccc; font: 9px Trebuchet MS, Tahoma, Arial, Verdana }

#tooltip{ border: 1px solid #666666; margin: 0px; padding: 3px 5px; background: #FFFFFF; color: #333333; font: menu; position: absolute; visibility: hidden }

/* vseedit toolbar */
 .toolbar tr { background: ButtonFace; }
 .toolbar .btn-, .toolbar  .btn-hover,  .toolbar .btn-active,  .toolbar .btn-pressed {
  background: ButtonFace;
  color: ButtonText;
  border: 1px solid ButtonFace;
  padding: 1px;  margin: 0px;
  cursor: pointer; cursor: hand;
 }
 .toolbar .btn- img{
  width: 20px;
  height: 20px;
 }
 .toolbar .btn-hover {
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
 }
 .toolbar .btn-active,  .toolbar .btn-pressed {
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
 }
 .toolbar .btn-pressed {
  background: ButtonHighlight;
 }
 .edname-w, .edname-r, .edname-s
            { font: bold 14px Arial; border: 3px solid #D4D0C8; padding: 0 7px; color:#ffffff; vertical-align: middle;}
 .edname-w  { background: #1E9905; }
 .edname-r  { background: #2A45D0; }
 .edname-s  { background: #D08C2A; }

 .autocomplete-inplace
 {
   background: ButtonFace;
   border: 1px solid ButtonShadow;
   padding: 2px;
   font: 12px Arial;
 }
 .autocomplete-inplace div          { padding: 2px 5px; cursor: pointer; cursor: hand; }
 .autocomplete-inplace div.ac-over- { color:#ffffff; background: #1E9905; }


/* Text_Highlighter */
.hl-main {font-family: monospace; font-size:13px;}
.hl-gutter { background-color: #CCCCCC; padding-right: 10px;
             font-family: monospace; font-size:13px;}
.hl-table {border: solid 1px #000000; }

.hl-default { color: #000000; }
.hl-code { color: #7f7f33; }
.hl-brackets { color: #009966; }
.hl-comment { color: #7F7F7F; }
.hl-quotes { color: #00007F; }
.hl-string { color: #7F0000; }
.hl-identifier { color: #000000; }
.hl-reserved { color: #7F007F; }
.hl-inlinedoc { color: #0000FF; }
.hl-var { color: #0066FF; }
.hl-url { color: #FF0000; }
.hl-special { color: #0000FF; }
.hl-number { color: #007F00; }
.hl-inlinetags { color: #FF0000; }
.hl-builtin    { color:#996633; }

.nobr {white-space: nowrap}

div.action           { margin:2px; background: #eeeeee }
div.action-content   { padding:10px 10px 25px 10px; }

.cl-red   {color: #CC0000;}
.cl-green {color: #008000;}
.cl-blue  {color: #0000CC;}

tt { color:#666600; background:#ffffcc; padding: 0 2px }

.cite {color:#ff0000;font-style:normal;}
/* .mark  { color: #008800;font-style:normal; } */
.mark { color: #00000; background:#ffaaaa; }

.cl-indianred    {color: #cd5c5c;}
.cl-lightcoral    {color: #f08080;}
.cl-orangered    {color: #ff4500;}
.cl-crimson    {color: #dc143c;}
.cl-darkred    {color: #8b0000;}
.cl-pink    {color: #ffc0cb;}
.cl-hotpink    {color: #ff69b4;}
.cl-palevioletred    {color: #db7093;}
.cl-khaki    {color: #f0e68c;}
.cl-lightgoldenrodyellow    {color: #fafad2;}
.cl-lemonchiffon    {color: #fffacd;}
.cl-gold    {color: #ffd700;}
.cl-moccasin    {color: #ffe4b5;}
.cl-cyan    {color: #00ffff;}
.cl-aquamarine    {color: #7fffd4;}
.cl-mediumturquoise    {color: #48d1cc;}
.cl-cadetblue    {color: #5f9ea0;}
.cl-lightcyan    {color: #e0ffff;}
.cl-powderblue    {color: #b0e0e6;}
.cl-steelblue    {color: #4682b4;}
.cl-skyblue    {color: #87ceeb;}
.cl-deepskyblue    {color: #00bfff;}
.cl-royalblue    {color: #4169e1;}
.cl-dodgerblue    {color: #1e90ff;}
.cl-mediumblue    {color: #0000cd;}
.cl-navy    {color: #000080;}
.cl-lightsalmon    {color: #ffa07a;}
.cl-darkorange    {color: #ff8c00;}
.cl-tomato    {color: #ff6347;}
.cl-aquamarine    {color: #7fffd4;}
.cl-springgreen    {color: #00ff7f;}
.cl-greenyellow    {color: #adff2f;}
.cl-lawngreen    {color: #7cfc00;}
.cl-lightgreen    {color: #90ee90;}
.cl-limegreen    {color: #32cd32;}
.cl-darkseagreen    {color: #8fbc8f;}
.cl-seagreen    {color: #2e8b57;}
.cl-olivedrab    {color: #6b8e23;}
.cl-darkolivegreen    {color: #556b2f;}
.cl-mediumaquamarine    {color: #66cdaa;}
.cl-lightseagreen    {color: #20b2aa;}
.cl-teal    {color: #008080;}
.cl-thistle    {color: #d8bfd8;}
.cl-violet    {color: #ee82ee;}
.cl-magenta    {color: #ff00ff;}
.cl-mediumorchid    {color: #ba55d3;}
.cl-blueviolet    {color: #8a2be2;}
.cl-mediumpurple    {color: #9370db;}
.cl-purple    {color: #800080;}
.cl-darkslateblue    {color: #483d8b;}
.cl-honeydew    {color: #f0fff0;}
.cl-azure    {color: #f0ffff;}
.cl-ghostwhite    {color: #f8f8ff;}
.cl-lavenderblush    {color: #fff0f5;}
.cl-antiquewhite    {color: #faebd7;}
.cl-snow    {color: #fffafa;}
.cl-beige    {color: #f5f5dc;}
.cl-oldlace    {color: #fdf5e6;}
.cl-ivory    {color: #fffff0;}
.cl-lightgrey    {color: #d3d3d3;}
.cl-darkgray    {color: #a9a9a9;}
.cl-dimgray    {color: #696969;}
.cl-lightslategray    {color: #778899;}
.cl-cornsilk    {color: #fff8dc;}
.cl-bisque    {color: #ffe4c4;}
.cl-wheat    {color: #f5deb3;}
.cl-goldenrod    {color: #daa520;}
.cl-peru    {color: #cd853f;}
.cl-maroon    {color: #800000;}
.cl-brown    {color: #a52a2a;}
.cl-darkred    {color: #8b0000;}
.cl-tan    {color: #d2b48c;}
.cl-black    {color: #000000;}
.cl-darksalmon    {color: #e9967a;}
.cl-salmon    {color: #fa8072;}
.cl-red    {color: #ff0000;}
.cl-firebrick    {color: #b22222;}
.cl-mediumvioletred    {color: #c71585;}
.cl-lightpink    {color: #ffb6c1;}
.cl-deeppink    {color: #ff1493;}
.cl-darkkhaki    {color: #bdb76b;}
.cl-palegoldenrod    {color: #eee8aa;}
.cl-lightyellow    {color: #ffffe0;}
.cl-yellow    {color: #ffff00;}
.cl-papayawhip    {color: #ffefd5;}
.cl-peachpuff    {color: #ffdab9;}
.cl-aqua    {color: #00ffff;}
.cl-turquoise    {color: #40e0d0;}
.cl-darkturquoise    {color: #00ced1;}
.cl-slategray    {color: #708090;}
.cl-paleturquoise    {color: #afeeee;}
.cl-lightsteelblue    {color: #b0c4de;}
.cl-lightblue    {color: #add8e6;}
.cl-lightskyblue    {color: #87cefa;}
.cl-cornflowerblue    {color: #6495ed;}
.cl-mediumslateblue    {color: #7b68ee;}
.cl-blue    {color: #0000ff;}
.cl-darkblue    {color: #00008b;}
.cl-midnightblue    {color: #191970;}
.cl-orange    {color: #ffa500;}
.cl-coral    {color: #ff7f50;}
.cl-orangered    {color: #ff4500;}
.cl-mediumspringgreen    {color: #00fa9a;}
.cl-palegreen    {color: #98fb98;}
.cl-chartreuse    {color: #7fff00;}
.cl-lime    {color: #00ff00;}
.cl-yellowgreen    {color: #9acd32;}
.cl-mediumseagreen    {color: #3cb371;}
.cl-forestgreen    {color: #228b22;}
.cl-green    {color: #008000;}
.cl-olive    {color: #808000;}
.cl-darkgreen    {color: #006400;}
.cl-turquoise    {color: #40e0d0;}
.cl-darkcyan    {color: #008b8b;}
.cl-lavender    {color: #e6e6fa;}
.cl-plum    {color: #dda0dd;}
.cl-fuchsia    {color: #ff00ff;}
.cl-orchid    {color: #da70d6;}
.cl-darkorchid    {color: #9932cc;}
.cl-darkviolet    {color: #9400d3;}
.cl-slateblue    {color: #6a5acd;}
.cl-darkmagenta    {color: #8b008b;}
.cl-indigo    {color: #4b0082;}
.cl-mintcream    {color: #f5fffa;}
.cl-aliceblue    {color: #f0f8ff;}
.cl-whitesmoke    {color: #f5f5f5;}
.cl-mistyrose    {color: #ffe4e1;}
.cl-seashell    {color: #fff5ee;}
.cl-white    {color: #ffffff;}
.cl-linen    {color: #faf0e6;}
.cl-floralwhite    {color: #fffaf0;}
.cl-gainsboro    {color: #dcdcdc;}
.cl-silver    {color: #c0c0c0;}
.cl-gray    {color: #808080;}
.cl-darkslategray    {color: #2f4f4f;}
.cl-slategray    {color: #708090;}
.cl-blanchedalmond    {color: #ffebcd;}
.cl-navajowhite    {color: #ffdead;}
.cl-sandybrown    {color: #f4a460;}
.cl-darkgoldenrod    {color: #b8860b;}
.cl-chocolate    {color: #d2691e;}
.cl-saddlebrown    {color: #8b4513;}
.cl-sienna    {color: #a0522d;}
.cl-burlywood    {color: #deb887;}

.mark {color: #00000; background:#ffaaaa; }
.mark-indianred    {background: #cd5c5c;}
.mark-lightcoral    {background: #f08080;}
.mark-orangered    {background: #ff4500;}
.mark-crimson    {background: #dc143c;}
.mark-darkred    {background: #8b0000;}
.mark-pink    {background: #ffc0cb;}
.mark-hotpink    {background: #ff69b4;}
.mark-palevioletred    {background: #db7093;}
.mark-khaki    {background: #f0e68c;}
.mark-lightgoldenrodyellow    {background: #fafad2;}
.mark-lemonchiffon    {background: #fffacd;}
.mark-gold    {background: #ffd700;}
.mark-moccasin    {background: #ffe4b5;}
.mark-cyan    {background: #00ffff;}
.mark-aquamarine    {background: #7fffd4;}
.mark-mediumturquoise    {background: #48d1cc;}
.mark-cadetblue    {background: #5f9ea0;}
.mark-lightcyan    {background: #e0ffff;}
.mark-powderblue    {background: #b0e0e6;}
.mark-steelblue    {background: #4682b4;}
.mark-skyblue    {background: #87ceeb;}
.mark-deepskyblue    {background: #00bfff;}
.mark-royalblue    {background: #4169e1;}
.mark-dodgerblue    {background: #1e90ff;}
.mark-mediumblue    {background: #0000cd;}
.mark-navy    {background: #000080;}
.mark-lightsalmon    {background: #ffa07a;}
.mark-darkorange    {background: #ff8c00;}
.mark-tomato    {background: #ff6347;}
.mark-aquamarine    {background: #7fffd4;}
.mark-springgreen    {background: #00ff7f;}
.mark-greenyellow    {background: #adff2f;}
.mark-lawngreen    {background: #7cfc00;}
.mark-lightgreen    {background: #90ee90;}
.mark-limegreen    {background: #32cd32;}
.mark-darkseagreen    {background: #8fbc8f;}
.mark-seagreen    {background: #2e8b57;}
.mark-olivedrab    {background: #6b8e23;}
.mark-darkolivegreen    {background: #556b2f;}
.mark-mediumaquamarine    {background: #66cdaa;}
.mark-lightseagreen    {background: #20b2aa;}
.mark-teal    {background: #008080;}
.mark-thistle    {background: #d8bfd8;}
.mark-violet    {background: #ee82ee;}
.mark-magenta    {background: #ff00ff;}
.mark-mediumorchid    {background: #ba55d3;}
.mark-blueviolet    {background: #8a2be2;}
.mark-mediumpurple    {background: #9370db;}
.mark-purple    {background: #800080;}
.mark-darkslateblue    {background: #483d8b;}
.mark-honeydew    {background: #f0fff0;}
.mark-azure    {background: #f0ffff;}
.mark-ghostwhite    {background: #f8f8ff;}
.mark-lavenderblush    {background: #fff0f5;}
.mark-antiquewhite    {background: #faebd7;}
.mark-snow    {background: #fffafa;}
.mark-beige    {background: #f5f5dc;}
.mark-oldlace    {background: #fdf5e6;}
.mark-ivory    {background: #fffff0;}
.mark-lightgrey    {background: #d3d3d3;}
.mark-darkgray    {background: #a9a9a9;}
.mark-dimgray    {background: #696969;}
.mark-lightslategray    {background: #778899;}
.mark-cornsilk    {background: #fff8dc;}
.mark-bisque    {background: #ffe4c4;}
.mark-wheat    {background: #f5deb3;}
.mark-goldenrod    {background: #daa520;}
.mark-peru    {background: #cd853f;}
.mark-maroon    {background: #800000;}
.mark-brown    {background: #a52a2a;}
.mark-darkred    {background: #8b0000;}
.mark-tan    {background: #d2b48c;}
.mark-black    {background: #000000;}
.mark-darksalmon    {background: #e9967a;}
.mark-salmon    {background: #fa8072;}
.mark-red    {background: #ff0000;}
.mark-firebrick    {background: #b22222;}
.mark-mediumvioletred    {background: #c71585;}
.mark-lightpink    {background: #ffb6c1;}
.mark-deeppink    {background: #ff1493;}
.mark-darkkhaki    {background: #bdb76b;}
.mark-palegoldenrod    {background: #eee8aa;}
.mark-lightyellow    {background: #ffffe0;}
.mark-yellow    {background: #ffff00;}
.mark-papayawhip    {background: #ffefd5;}
.mark-peachpuff    {background: #ffdab9;}
.mark-aqua    {background: #00ffff;}
.mark-turquoise    {background: #40e0d0;}
.mark-darkturquoise    {background: #00ced1;}
.mark-slategray    {background: #708090;}
.mark-paleturquoise    {background: #afeeee;}
.mark-lightsteelblue    {background: #b0c4de;}
.mark-lightblue    {background: #add8e6;}
.mark-lightskyblue    {background: #87cefa;}
.mark-cornflowerblue    {background: #6495ed;}
.mark-mediumslateblue    {background: #7b68ee;}
.mark-blue    {background: #0000ff;}
.mark-darkblue    {background: #00008b;}
.mark-midnightblue    {background: #191970;}
.mark-orange    {background: #ffa500;}
.mark-coral    {background: #ff7f50;}
.mark-orangered    {background: #ff4500;}
.mark-mediumspringgreen    {background: #00fa9a;}
.mark-palegreen    {background: #98fb98;}
.mark-chartreuse    {background: #7fff00;}
.mark-lime    {background: #00ff00;}
.mark-yellowgreen    {background: #9acd32;}
.mark-mediumseagreen    {background: #3cb371;}
.mark-forestgreen    {background: #228b22;}
.mark-green    {background: #008000;}
.mark-olive    {background: #808000;}
.mark-darkgreen    {background: #006400;}
.mark-turquoise    {background: #40e0d0;}
.mark-darkcyan    {background: #008b8b;}
.mark-lavender    {background: #e6e6fa;}
.mark-plum    {background: #dda0dd;}
.mark-fuchsia    {background: #ff00ff;}
.mark-orchid    {background: #da70d6;}
.mark-darkorchid    {background: #9932cc;}
.mark-darkviolet    {background: #9400d3;}
.mark-slateblue    {background: #6a5acd;}
.mark-darkmagenta    {background: #8b008b;}
.mark-indigo    {background: #4b0082;}
.mark-mintcream    {background: #f5fffa;}
.mark-aliceblue    {background: #f0f8ff;}
.mark-whitesmoke    {background: #f5f5f5;}
.mark-mistyrose    {background: #ffe4e1;}
.mark-seashell    {background: #fff5ee;}
.mark-white    {background: #ffffff;}
.mark-linen    {background: #faf0e6;}
.mark-floralwhite    {background: #fffaf0;}
.mark-gainsboro    {background: #dcdcdc;}
.mark-silver    {background: #c0c0c0;}
.mark-gray    {background: #808080;}
.mark-darkslategray    {background: #2f4f4f;}
.mark-slategray    {background: #708090;}
.mark-blanchedalmond    {background: #ffebcd;}
.mark-navajowhite    {background: #ffdead;}
.mark-sandybrown    {background: #f4a460;}
.mark-darkgoldenrod    {background: #b8860b;}
.mark-chocolate    {background: #d2691e;}
.mark-saddlebrown    {background: #8b4513;}
.mark-sienna    {background: #a0522d;}
.mark-burlywood    {background: #deb887;}